<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/client/src/main/java/jxsource/oauth2/client/JwtClient.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="oauth.client.authHost" value="http://localhost:8901"/>
        <mapEntry key="oauth.client.contextPath" value="/v1/availability/G00/20171012"/>
        <mapEntry key="oauth.client.resourceHost" value="http://localhost:8902"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jxsource.oauth2.client.JwtClient"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="client"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="client"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Doauth2.keystorePath=ClientKeyStore.jks&#13;&#10;-Doauth2.keystoreAlias=oauth2test&#13;&#10;-Doauth2.keystorePassword=changeit"/>
</launchConfiguration>
