<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/client/src/main/java/jxsource/oauth2/client/JwtClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="oauth.client.authHost" value="http://localhost:8085"/>
<mapEntry key="oauth.client.contextPath" value="/v1/availability/G00/20171012"/>
<mapEntry key="oauth.client.resourceHost" value="http://localhost:8082"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jxsource.oauth2.client.JwtClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="http://localhost:8085&#13;&#10;http://localhost:8082&#13;&#10;/v1/availability/G00/20171012"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="client"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Doauth2.keystorePath=jws-keystore-dev.keystore&#13;&#10;-Doauth2.keystoreAlias=9E2583&#13;&#10;-Doauth2.keystorePassword=kerTeg6!&#13;&#10;-Dspring.profiles.active=local"/>
</launchConfiguration>