<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/bridge-proxy/src/test/java/jxsource/net/http/TcpGoogleRequest.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jxsource.net.http.TcpGoogleRequest"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="bridge-proxy"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="bridge-proxy"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djavax.net.ssl.trustStore=&quot;C:\Program Files\Java\jdk1.8.0_281\jre\lib\security\cacerts&quot;&#13;&#10;-Djavax.net.ssl.trustStorePassword=changeit"/>
</launchConfiguration>
