<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/socket-info-server/src/main/java/jxsource/net/socket/URIConn.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jxsource.net.socket.URIConn"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="socket-info-server"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djavax.net.debug_=all&#13;&#10;-Djavax.net.debug_=ssl&#13;&#10;-Djavax.net.ssl.keyStore_=KeyStore.jks&#13;&#10;-Djavax.net.ssl.keyStorePassword_=changeit&#13;&#10;-Djavax.net.ssl.trustStore=C:\mde-tools\eclipse-oxygen-3-jee-kit\jdk1.8.0_152\jre\lib\security\cacerts&#13;&#10;-Djavax.net.ssl.trustStorePassword=changeit&#13;&#10;-Dhttp.proxyHost_=access.lb.ssa.gov&#13;&#10;-Dhttps.proxyHost_=access.lb.ssa.gov&#13;&#10;-Dhttps.proxyPort_=80"/>
</launchConfiguration>
